@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --background-color: #e3e9ff;
  --headings-color: #000;
  --card-background: #fff;
  --card-text-color: #848faa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #22252e;
    --headings-color: #fff;
    --card-background: #3c424f;
    --card-text-color: #e1e3e9;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-color);
  font-family: 'Poppins', Arial, sans-serif;
}

h1 {
  font-weight: 600;
  text-align: center;
  color: var(--headings-color);
  margin-top: 25vh;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.entry {
  background: var(--card-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 35px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.entry .text {
  color: var(--card-text-color);
  font-weight: 500;
}

.btn {
  border: none;
  color: #fff;
  padding: 8px 22px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  transition: background 0.3s ease;
}

.btn-download {
  background: #02d084;
}

.btn-download:hover {
  background: #00b472;
}

.btn-create {
  background: #0286d0;
  margin-bottom: 35px;
}

.btn-create:hover {
  background: #026caa;
}

.icon {
  margin-right: 5px;
}
